  .titleWord{
  margin-top: -10rem;
  margin-bottom: 10rem;
  }
  .bodyContainer{
    box-sizing: border-box;
    font-size: .8888888889rem;
    line-height: 1.7;
    color: #333;
    font-family: "Cairo",sans-serif;
    background-color: #fff;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
  }
  .mainContainer{
    width: 99%;
  }
  .sectionOurObjective{
    padding-bottom: 3.7222222222rem;
  }
  .topSection{
    top: -6.3888888889rem;
    position: relative;
  }
  .cardObjective{
    margin-bottom: 4.4444444444rem;
    background-color: #fff;
    border-radius: .9111111111rem;
    box-shadow: 0 0.8333333333rem 1.1111111111rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
  }
   .objectiveCard2{
    box-shadow: 0 0.8333333333rem 1.1111111111rem rgba(0,0,0,.1);
    border: none;
    border-radius: 1rem;
    background: #ffff;
    width: 85%;
    margin: -7rem 0 0 0 ;

  } 
  .objImageDiv{
    margin-left: -0rem;
    margin-right: -0rem;
    margin-bottom: -0rem;
  }
  .objImage{
    width: 100%;
    border-radius: 0.5rem;
  }
  .divImage{
    width:100%;
    height:110%; 
    background: #ffff;
    padding: 0rem;
    align-self: center;
  }
  .objectiveCardText{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    color: #666d78;
    line-height: 1.8333333333rem;
  }
  .visionCard{
    max-width: 35rem;
    padding: 3rem;
  }
  .sectionEstablishment{
    background-color: #fff;
    padding: 4.4444444444rem 0;
  }
  .itemCheckTage{
    font-weight: 300;
    margin-top: -0.5rem;
  }
  .itemCheckTage2{
    margin-top: -0.4rem;
    font-weight: 300;
    margin-bottom: 0.8rem;
    display: inline-flex ;
  }
  .ethicCard{
    max-width: 60rem;
    padding: 3rem;
  }
  .ethicCard2{
    margin-top: 3rem;
    position: relative;
    max-width: 80rem;
    margin: auto;
    box-shadow: 0 0.8333333333rem 1.1111111111rem rgba(0,0,0,.1);
    padding-bottom: 1rem;
    padding-top: 5rem;
    padding-right: 0.2rem;
    background:url('../public/images/about_page/budget/budget.png');
    border-radius: 1rem;
  }
  .budgetCard{
    max-width: 55%;
    margin-top: auto;
    margin-bottom: 2;
    box-shadow: 0 0.8333333333rem 1.1111111111rem rgba(0,0,0,.1);
    padding: 1rem;
    background: #ffff;  
    border-radius: 1rem;
  }
  .ethicCard4{
    margin-right: auto;
  }
  .ethicCard5{
    margin-top: 7rem;
    padding: 3rem;
  }
  .editIcon{
    padding-left: 8rem;
    padding-right: 10rem;
  }
  /*   our achivment section   */
  .sectionOurAchievements{
    background: url('../public/images/about_page/our-achievements.png');
   background-position: 100%;
  }
  .innerSectionOurAchievements{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .spanFeature{
    font-size: .8888888889rem;
    font-weight: 700;
    color: #555;
    text-transform: uppercase;
    display: block;
    line-height: 1.6666666667rem;
  }
  .spanFeature2{
    font-size: .8888888889rem;
    font-weight: 700;
    color: var(--color-secondary);
    text-transform: uppercase;
    display: block;
    line-height: 1.6666666667rem;
  }
  .headFeature{
    line-height: 2.7777777778rem;
    color: #fff;
    font-size: 1.7777777778rem;
    font-weight: 700;  
  }
  .featuresBoxes{
  position: relative;
  flex: 1 1 auto;
  }
  .featuresBoxesInner{
    border-radius: 0.5555555556rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1.1111111111rem 1.1111111111rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .itemFeatures{
    display: flex;
    align-items: center;
    padding: 1.1111111111rem 1.6666666667rem;
  }
  .itemFeaturesBoxContent h4{
    font-size: 1.555555556rem;
    font-weight: 700;
    color: #fff;
    line-height: 2.8888888889rem;
  }
  .itemFeaturesBoxContent p{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.3rem;
    color: #f7f9fd;
  }
  /*      end section        */
  .iconsColor{
    color: #fff;
  }
  .ctaBtn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
  }
  @media (max-width: 480px) {
    .ethicCard5{
      margin-top: 1rem;

    }
    .budgetCard{
      max-width: 100%;
    }
    .objectiveCard2{
      box-shadow: 0 0.8333333333rem 1.1111111111rem rgba(0,0,0,.1);
      border: none;
      border-radius: 1rem;
      background: #ffff;
      width: 100%;
      margin-top: -7rem;
      display: flex;
      flex-direction: column;
    } 
    .itemCheckTage{
      font-weight: 300;
      margin-top: 0rem;
    }
    .itemCheckTage2{
      font-weight: 300;
      margin-bottom: 0.5rem;
      display: inline-flex ;
    }

  }
  