.aboutHolder{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.aboutContent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
}
.aboutBody{
    text-align: center;
    padding-top:  18% ;
    margin-bottom: -35rem;
}
.aboutCasco{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.aboutCascoText{
    margin-top: 0rem;
}
.aboutCasco span{
    font-size: larger;
}
.imageHolder{
    z-index: -1;
}
.whoWeAre{
    font-size: .8888888889rem;
    font-weight: 700;
    color: #be1f24;
    text-transform: uppercase;
    display: block;
    line-height: 1.6666666667rem;
}
.aboutCascoLink{
    color:  #be1f24 !important; 
    font-size: 1rem;
    cursor: pointer !important;
    z-index: 5;
}

@media (min-width:480px) and (max-width:770px) {
    .aboutBody{
        text-align: center;
        margin-bottom: 0;
        margin-bottom: -23rem;
    }
    .whoWeAre{
        font-size: .5rem;
        font-weight: 700;
        color: #be1f24;
        text-transform: uppercase;
        display: block;
        line-height: 1.6666666667rem;
    }
    .aboutCasco{
        margin-top: 0rem;
    }
    .aboutCascoText{
        font-size: smaller;
    }
}
@media (max-width: 480px) {
    .aboutBody{
        text-align: center;
        padding-top:  25% ;
        margin-bottom: 0;
        margin-bottom: -12rem;
    }
    .whoWeAre{
        font-size: .5rem;
        font-weight: 700;
        color: #be1f24;
        text-transform: uppercase;
        display: block;
        line-height: 1.6666666667rem;
    }
    .aboutCasco{
        margin-top: -0.4rem;
    }
    .aboutCasco span{
        font-size: smaller;
    }
    .aboutCascoText {
        font-size: 0.77rem;
    }
    .aboutCascoText4 {
        display: none;
    }
    .aboutCascoText3{
        display: none;
    }
    .aboutCascoText2{
        display: none;
    }
    .aboutCascoLink{
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    
}
@media (min-width:770px) and (max-width:1024px) {
    .aboutBody{
        text-align: center;
        padding-top:  25% ;
        margin-bottom: 0;
        margin-bottom: -29rem;
    }
}