 .titleWord{
    margin-top: -10rem;
    margin-bottom: 10rem;
  }
  .dateInput{
    background-image: url('../public/icons/calendar-icon.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: black;
    z-index: 55;
    background-size: 1rem;
  }
  .SearchButton{
    padding: 0.8rem 1.5rem 0.8rem ;
    border: none;
  }
  .searchCard{
    box-shadow: 0 1rem 1rem rgba(0,0,0,.175) !important;

    border-radius: 1rem;
    padding: 1rem 3rem 1rem;
    margin-bottom: 3rem;
  }
  .cardsConainer{
    box-sizing: border-box;
    margin-left: 10rem;
  }
 .boardOfDirc {
  background: none;
  padding-bottom: 1rem;
  margin-top: -10.5rem;
 }
.teamMemberFigure{
  position: relative;
  overflow: hidden;
  width: 14rem;
  height: 17rem;
  box-shadow: 0px 25px 25px -10px #8787b2;
  border-radius: 0.5rem;
  padding: 1rem 3rem 1rem;
  margin-bottom: 3rem;
}
.figcaptionUl{
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.figCaption{
  color: transparent;
  background-color: transparent;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.teamMember2 .teamMemberFigure:hover figCaption{
  visibility: visible;
  color: #fff;
  background: rgba(59, 60, 61, 0.523);   
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.accretiedCaption{
  z-index: -1;
}
