.mainDiv{
    padding: 2.7777777778rem 0;
    margin: 0;
}
.imageDiv{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5555555556rem;
    background-color: #f8f8f9;
    padding: 2.1111111111rem 0;
}
.spanNumber{
    color: var(--color-secondary);
}
