.mainDiv{
    padding: 2.8777777778rem 0;
    margin: 0rem -3rem 0rem -3rem ;
}
.bigDiv{
    width: 189.167px !important;
    margin-left: 3rem;
    border-radius: 0.55rem;
    background-color: #f3f3fb;
    padding: 2.1rem 0;
}
.imageDiv{
    width: 60%;
    height: 4.7rem;
    margin: auto;
    display: block;
}
.spanNumber{
    color: var(--color-secondary);
}
