/* All Department Site Departments component style shteet */
.mainContainer {
    min-width: 27rem;
    max-width: 27rem;
    border: 1px solid #000000;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.subContainer {
    min-width: 13.5rem;
    max-width: 13.5rem;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
}