.mainContanier {
    margin-top: 0rem;
    background: url('../public/images/home_page/icasco.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 5.7777777778rem 0;
    margin: 0;
  }
  .SearchButton{
    padding: 1rem 1.5rem 1rem ;
    border: none;
    background: #ffff;
  }
  .SearchButton:hover{
    background: linear-gradient(rgba(122, 163, 210, 0.9), rgba(29, 94, 205, 0.9));
  }
  .SearchButton span{
    color: rgb(6, 93, 199);
  }