/* .sctionTitle{
    margin: 5rem;
} */
 /* Team Section */
 .boardOfDirc {
    background: #f9f9f9;
    padding-bottom: 1rem;
    margin-top: -2.5rem;
 }
 .sectionHeader{
    background: #f9f9f9;
    border-radius: 5rem;
 }
 .teamImg {
    overflow: hidden;
    border-radius: 1.5rem  1.5rem 0 0;
    z-index: -1;
  }
  .nameTitle{
    text-align: center;
    background: rgba(44, 116, 240, 0.6);
    padding: 1.5rem;
    margin-top: -0.5rem;
    z-index: 1;
    color: #ffff;
    border-radius: 0 0 1rem 1rem;
  }  
  .socialMedia {
    position: absolute;
    left: 0;
    top: -18px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .socialMediaLink {
    transition: color 0.3s;
    /* color: var(--color-white);
    background: var(--color-primary); */
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .iconI {
    line-height: 0;
    font-size: 16px;
  }
  
  .socialMediaLink:hover {
    background: #f9f9f9;
  }
  
  .socialMedia  {
    font-size: 18px;
    margin: 0 2px;
  }
  
  .memberInfo {
    padding: 30px 15px;
    text-align: center;
    /* box-shadow: 0px 2px 15px rgba(var(--color-black-rgb), 0.1); */
    background: #f9f9f9;
    margin: -50px 20px 0 20px;
    position: relative;
    border-radius: 8px;
    z-index: 2s;
  }
  
  .memberInfo h4 {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 24px;
    /* color: var(--color-secondary); */
  }
  
  .memberInfo span {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }

  .memberInfoP {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    /* color: var(--color-gray); */
  }
  
 .teamMember:hover .socialMedia {
    opacity: 1;
  }
  .card2 {
    position: relative;
    transition: all 0.5s ease-in;
    cursor: pointer;
    height: 375px;
  }
  
  .cardImage {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  
  .cardoverlay {
    position: absolute;
    top: 100;
    border-radius: 1.5rem 1.5rem 0.8rem 0.8rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    width: 100%;
    opacity: 0;
    transform: translateY(1.4rem);
    /* visibility: none; */
    transition: 0.5s ease;
    background-color: rgba(44, 116, 240, 0.6);
  }
  
  .card2:hover .cardoverlay {
    opacity: 0.8;
  }
  
  .overlayText {
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-80%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  /* third card */
  .teamMember2{
    margin: 15px 0;
  padding: 0;
  }
  .teamMemberFigure{
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .figcaptionUl{
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .figcaptionUlLi{
    display: inline-block;
    padding: 10px;
  }
  .figCaption{
    padding: 50px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  }
  .teamMember2 .teamMemberFigure:hover figCaption{
    visibility: visible;
    color: #fff;
    background: rgba(128, 144, 248, 0.9);   
    height: 100%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  @media (max-width: 480px) {
    .cardoverlay {
      position: absolute;
      top: 100;
      border-radius: 1.5rem 1.5rem 0.8rem 0.8rem;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30%;
      width: 100%;
      opacity: 0;
      transform: translateY(-1.4rem);
      /* visibility: none; */
      transition: 0.5s ease;
      background-color: rgba(44, 116, 240, 0.6);
    }
    
  }