 /* Team Section */
 .boardOfDirc {
    background: none;
    padding-bottom: 1rem;
    margin-top: -10.5rem;
 }
 .imgsHolder{
  margin-top: -1rem;
 }
  /* third card */
  .teamMember2{
    margin: 15px 0;
    cursor: pointer;
    padding: 0;
  }
  .teamMemberFigure{
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .figcaptionUl{
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .figCaption{
    color: transparent;
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .teamMember2 .teamMemberFigure:hover figCaption{
    visibility: visible;
    color: #fff;
    background: rgba(98, 141, 222, 0.523);   
    height: 99%;
    margin-bottom: 0.3rem;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    border-radius: 1.5rem;
  }
  .flagImage{
    vertical-align: middle;
    visibility: visible;
    color: #fff;
    background: rgba(98, 141, 222, 0.523);   
    height: 100%;
    z-index: -1;
    border-radius: 1.5rem;
  }
  .imgStyle{
    border-radius: 1.5rem;
  }