/* change password css module */
.cardContainer {
    min-height: 33rem;
    max-height: 33rem;
    min-width: 66rem;
    max-width: 66rem;
}
.confirmBtn {
    padding-top: 0.475rem;
    padding-bottom: 0.475rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}