
/* Contact Section*/
.titleWord{
    margin-top: -10rem;
    margin-bottom: 10rem;
  }
.mapContact {
    margin-bottom: 40px;
  }
  .iconsColor{
    color: #0f8eef;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
    
  }  
  .iconsColor2{
     color: #0f8eef;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
    margin-bottom: 0.6rem; 
  }  
  .postTitle {
    font-size: 24px;
    color: var(--color-secondary);
    font-weight: 700;
    margin: 15px 0 0 0;
    position: relative;
    transition: 0.3s;
    }
  .mapContact iframe {
    border: 0;
    width: 100%;
    height: 400px;
  }
  
  .infoContact {
    padding: 40px;
    box-shadow: 0px 2px 15px rgba(var(--color-black-rgb), 0.1);
    overflow: hidden;
  }
  
  .infoContact h3 {
    font-weight: 600;
    font-size: 24px;
  }
  
  .infoContact p {
    color: var(--color-secondary-light);
    margin-bottom: 30px;
    font-size: 15px;
  }
  
  .infoContact+.infoContact {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(var(--color-secondary-rgb), 0.15);
  }
  
  
  .phpEmailForm {
    width: 100%;
  }
  
  .formGroup {
    padding-bottom: 8px;
  }
  
  .errorMessage {
    display: none;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .sentMassage br+br {
    margin-top: 25px;
  }
  
  .sentMassage {
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .loadingMassage {
    display: none;
    background: var(--color-white);
    text-align: center;
    padding: 15px;
  }
  
  .loadingMassage:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--color-green);
    border-top-color: var(--color-white);
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .enrollButton{
    padding: 0.4rem 3rem 0.4rem ;
    border: none;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
  }
  .formControl{
    height: 3.5rem;
  }
  .contactCard{
    padding-top: 3rem;
    padding-bottom: 2rem;
    box-shadow: 0 0.8333333333rem 1.1111111111rem rgba(0,0,0,.1);
    border-radius:1rem ;
    margin-bottom: 2rem;
  }
   .phpEmailForm textarea {
    padding: 10px 12px;
    resize: none;
  }
  .btnClass{
    border: solid 1px;
  }
    
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 480px) {
  .cardBobyIcons{
    display: flex;
    flex-direction: column;
  }
  .firstIcons{
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .firstIcons2{
    margin-left: 0;
    padding-left: 0;
    margin-right: 1rem;
    padding-right: 0;
  }
  
}