/* Course Card Style */
.titleWord{
    margin-top: -23rem;
    margin-bottom: 0rem;
}
.titleWord2{
  margin-top: -23rem;
  margin-bottom: 3rem;
}
.titleWord3{
  margin-top: -23rem;
  margin-bottom: 2rem;
}
.bodyContainer{
  box-sizing: border-box;
  font-size: .8888888889rem;
  line-height: 1.7;
  color: #333;
  font-family: "Cairo",sans-serif;
  width: 99%;
  font-weight: 400;
  position: relative;
}
.timeSegment{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    margin: 0.5rem;
    height: 5rem;
    width: 5rem;
    background: #6ed2f6;
}
.courseDetailesMain{
  margin: 4rem 0 3rem 0;
}
.enrollButton{
    padding: 0.4rem 3rem 0.4rem ;
    border: none;
  }
  .enrollDiv{
    background: #a6dcf0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 22rem;
  }
  .Courselinks{
    display: flex;
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .Courselinks1Div{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .anchorLink{
    font-size: .8888888889rem;
    font-weight: 600;
    color: #666d78;
    line-height: 1.6666666667rem;
    padding: 0;
  }
  .lineLinks{
    margin-top: 0.2rem;
  }
  .courseDetailes{
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background: #f8f8f9;
  }
  .iconHolder{
    margin-right: 0.6666666667rem;
    margin-left: 0.6666666667rem;
    border: 1px solid #e9eaec;
    border-radius: 2.7777777778rem;
    padding: 0.3333333333rem 0.5555555556rem;
  }
  .liDiv{
    margin-bottom: 1.1111111111rem;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .liDiv2{
    margin-left:-0.3rem;
    margin-right: -0.3rem;
    
  }
  /* .iconHolder2{
    margin: 0 0.5rem  0 0rem ;
    padding: 0.35rem 0.65rem  ;
    border-radius: 50%;
    border: #ddd solid 1px;
  } */