/* departments landing page component */
.cardBodyContainer {
    padding-top: 4.688rem;
    padding-bottom: 4.688rem;
}

.landingPageHeader {
    font-size: 1.875rem;
}

.newOpHourBtn {
    margin-top: 2.625rem;
}