.titleWord{
    margin-top: -10rem;
    margin-bottom: 10rem;
  }
  .SearchButton{
    padding: 0.8rem 1.5rem 0.8rem ;
    border: none;
  }
  .accordionItemHead{
    font-size: 1rem;
    border: none;
    background: #FFF !important;
  }
  .accordionItem{
    border: #ccc solid 1px !important;
    border-radius: 0.25rem !important;
    margin-top: 1rem;
  }
  .filterButton{
    padding: 0.4rem 1rem 0.5rem ;
    border: none;
    color: black;
    background: #eee;
  }
  .fileDownloader{
    background: linear-gradient(90deg, rgba(9, 142, 231, 0.169) 0%, rgba(5, 144, 237, 0.123) 50%, rgba(8, 129, 242, 0.148) 100%);    border-radius: 0.5rem;
    padding: 0rem;
  }
  .accreditationType{
    display: block;
    line-height: 1.8rem;
  }
  .changeLog{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px #ccc;
  }
  .accordionItemHead{
    background: #b2e2f79d;
    display: flex !important;
    justify-content: space-between !important;
  }
  