.footerCont{
    background: #ddeaff;
}
.footerLink{
    color: #000 !important;
    font-size: 1rem;
    font-weight: 600;
    color: #666d78;
}
.footerA{
    font-size: 1rem;
    font-weight: 600;
    color: #666d78;
}
.footerA:hover{
    color: #1a63d7 !important;
}
.footerAhmed1{
    color: #555;
    font-size: 1rem;
    font-weight: 600;
    color: #666d78;
}
.footerAhmed{
    color: #555;
}
.footerAhmed:hover{
   color: #1a63d7 !important;
   cursor: pointer;
   font-size: 1rem;
    font-weight: 600;
    color: #666d78;
}

.companybrief{
    font-size: 1rem;
    font-weight: 300;
    color: #666d78;
    font-size: 1rem;
    font-weight: 600;
    color: #666d78;
}
.subsIcon{
    color: #082149 !important;
    cursor: pointer;
}
