/* Holidays Group List item */
.mainContainer {
    min-height: 9.375rem;
    max-height: 9.375rem;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.subContainer {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.holidaysGroupText {
    font-size: 1.375rem;
}

.holidaysGroupNameText {
    font-size: 1.875rem;
}

.viewEventsContainer {
    border-end-end-radius: 5px !important;
    border-start-end-radius: 5px !important;
    min-width: 9.688rem;
    max-width: 9.688rem;
    min-height: 9.375rem;
    max-height: 9.375rem;
}