/* license statistics box */
.cardContainer {
    min-height: 7.5rem;
    max-height: 7.5rem;
}

.cardBodyContainer {
    padding: 1rem 3.75rem;
}

.contentContainer {
    min-height: 5rem;
    max-height: 5rem;
}

.verticalLine {
    width: 5rem;
    border-left: 1px solid #C1C1C1;
    border-right: 1px solid #C1C1C1;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}