/* customize login Button */
.loginBtn {
    padding-top: 0.797rem !important;
    padding-bottom: 0.797rem !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

