/* itr admin Mfa Modal css module */
.confirmBtn {
    padding-top: 0.675rem;
    padding-bottom: 0.675rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}