.navLink{
    color: black;
}
.navLink:hover{
    color: #85CDFD;
}
.navLink2:hover{
    color: #85CDFD;

}
.searchIcon{
    color:  #85CDFD;
}
.navItem{
    margin-top: 1rem;
}
.navItem2{
    margin-top: 0.5rem;
}
.navLink2{
    color: black;
    display: inline;
}
.ulDropDown{
    text-align: center;
    min-width:20rem;
}
.ulDropDown2{
    text-align: center;
    min-width:15rem;
}
@media (max-width: 978px) {
    .navItem{
        margin-top: 0;
    }
    .navItem2{
        margin-top: -.50rem;
        margin-bottom: 0.4rem;
    }
}