.navBar{
    padding: 0.2777777778rem 0;
    margin: 0;
}
.navLink{
    color: black;
    display: block;
    font-weight: 500;
    font-size: .9rem;
}
.navLink:hover{
    color: #1086d5;
}
.navItemDropDown{
    border-radius: 0.5rem;
}
.navItemDropDown:hover{
    background: #8fcef8a4;
    color: #047fd2;
}
 .navItem:hover{
    color: #85CDFD;
}
.navLink2:hover{
    color: #0682d4;
}
.searchIcon{
    color: #0677c3; 
    cursor: pointer;
}
.navItem{
    margin-top: 1rem;
}
.navItem2{
    margin-top: 0.5rem;
}
.navLink2{
    color: black;
    display: block;
    font-weight: 500;
    font-size: .9rem;
}
.ulDropDown{
    z-index: 1000;
    min-width: 18rem;
    padding: 0.3rem 0;
    margin: 0.1rem 0 0;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    border-radius: 0.25rem;
}
.ulDropDownBigWord{
    margin-top: 1rem;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:1rem;
    display: block;
    width: 100%;
    min-width: 1px;
}
.rtl .dropdown-menu-right { text-align: right;}
.ulDropDown2{
    min-width:13rem;
}
@media (max-width:1025px){
    .navLink{
        color: black;
        display: block;
        font-weight: 500;
        font-size: 1rem;
    }
    .navLink2{
        font-size: 1rem;
        color: black;
        display: block;
        font-weight: 500;
    }
    .navItem{
        margin-top: 1rem;
        margin-left: 0.5rem ;
        margin-right: 0.2rem !important;
    }
    .navItem2{
        margin-top: 0rem;
    }
}
@media (max-width: 978px) {
    .navItem{
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
    .navItem2{
        margin-top: -0.4rem;
        margin-bottom: 0rem;
    }
}