/* Weekday Operational hours Component */
.weekdayName {
    font-size: 1.313rem;
}

.mainContainer {
    margin-top: 1.875rem;
}

.switchContainer {
    padding-left: 4.625rem;
    padding-right: 2.375rem;
}

.switchCheckInput {
    width: 2.375rem !important;
    height: 1.5rem !important;
}

.switchCheckInput:focus {
    border-color: #CFCFCF !important;
    box-shadow: unset!important;
}

.inputTimesContainer {
    margin-left: 5rem;
    margin-right: 5rem;
}

.inputTime {
    background-color: #FFFFFF !important;
    color: #000000 !important;
    border: 1px solid #DBDBDB !important;
    padding-left: 2.625rem !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: small;
}

.toSpan {
    margin-right: 1.875rem;
    margin-left: 1.875rem;
    font-size: 1.375rem;
}