/* Operational Hours Calender component usen in OperHour list */
.headerContainer {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.defaultConatiner {
    width: 9rem;
    height: 2.5rem;
    background-color: #2CAE9F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.operNameContainer {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
}

.dayAndHoursConatiner {
    width: 8rem;
}

.verticalLine {
    width: 6.25rem;
    border-left: 1px solid #C1C1C1;
    border-right: 1px solid #C1C1C1;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.keyHolder {
    display: contents !important;
}