/* Create New Opertional hour page style sheet */
.operHourNameInputContainer {
    margin-top: 0.75rem;
    max-width: 24.688rem;
}
.setOperHoursContainer {
    margin-top: 2rem;
}

.btnsContainer {
    margin-top: 4rem;
}

.confirmBtn {
    padding-top: 0.475rem;
    padding-bottom: 0.475rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}