/* Tenant Admin => Organization details => Organization Info page */
.editBtn {
    padding-top: 0.675rem;
    padding-bottom: 0.675rem;
    padding-left: 3.625rem;
    padding-right: 3.125rem;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
/* enable/disable btn  */
.enableBtn {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.disableBtn {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}