.titleWord{
  margin-top: -10rem;
  margin-bottom: 10rem;
}
.itemOne{
  border: solid 1px #ccc;;
  padding: 2.5rem;
  min-height: 38rem;
  margin-bottom: 1rem;
}
.itemTwo{
  border: solid 1px #ccc;;
  padding: 2.5rem;
  min-height: 38rem;
  margin-bottom: 1rem;
}
.itemThree{
  border: solid 1px #ccc;
  padding: 2rem;
  min-height: 38rem;
  margin-bottom: 1rem;
}
.itemOne:hover{
  color: #fff;
  background: #7671f7;
  transition: 0.3s;
}
.itemTwo:hover{
  color: #fff;
  background: #14ab9f;
  transition: 0.3s;
}
.itemThree:hover{
  color: #fff;
  background: #7ccee1;
  transition: 0.3s;
}