.mainSection{
    padding: 0.7777777778rem 0;
    margin: -6rem 0 -5rem  0;
}
.sectionRecogention{
    padding: 6.0555555556rem 0;
    position: relative;
}
 .conaninerRecogention{
    background-image: url('../public/images/home_page/recogention.png');
    padding: 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.cardRecognition{
    border-radius: 1.1111111111rem;
    padding: 2.2222222222rem;
    box-shadow: -1.1111111111rem 1.6666666667rem 2.2222222222rem rgba(0,0,0,.05);
    background-image: url('../public/images/home_page/recogention_inner_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    margin-left: 7rem;
    margin-right: 7rem;
    max-width: 45%;
    min-width: 45%;
}
.card_Recognition span{
    font-size: 1.7777777778rem;
    font-weight: 700;
    color: #252e3e;
    margin-bottom: 0.2777777778rem;
}
.card_Recognition p{font-size: 1rem;
    font-weight: 400;
    color: #666d78;
    margin-bottom: 1.6666666667rem;
}
.listImages{
    display: flex;
    align-items: center;
    margin-bottom: 1.1111111111rem;
    flex-wrap: wrap;
}
.itemImages{
    height: 3.3333333333rem;
    margin-right: 1.6666666667rem;
    margin-bottom: 1.1111111111rem;
}
@media (max-width: 768px)
{
    .conaninerRecogention {
    max-width: 720px;
    }
}
@media (max-width: 576px)
{
    .mainDivRecogention {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .conaninerRecogention {
    max-width: 540px;
    }
    .cardRecognition{
        border-radius: 1.1111111111rem;
        padding: 2.2222222222rem;
        box-shadow: -1.1111111111rem 1.6666666667rem 2.2222222222rem rgba(0,0,0,.05);
        background-image: url('../public/images/home_page/recogention_inner_image.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right bottom;
        margin-left: 0 !important;
        margin-right: 0 !important;
        max-width: 100%;
        min-width: 100%;
    }
}