.titleWord
  {
    margin-top: -10rem;
    margin-bottom: 10rem;
  }
  .spanHead{
    color: var(--color-secondary);
    font-weight: 600;
  }
   .visionCard{
    margin-top: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  } 
  .ctA {
    margin-top: 3rem;
    background: linear-gradient(rgba(122, 163, 210, 0.9), rgba(29, 94, 205, 0.9));
    background-size: cover;
    padding: 10rem 0;
  }
  .iconsColor{
    color: #fff;
  }
  .dutesList{
    margin-top: -5rem;
  }
  .ulClass{
      list-style-type: disc;
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
      list-style-position:inside;
      padding: 0;
      margin: 0;
  }
  
  @media (max-width: 480px) {
    .dutesList{
      margin-top: 1rem;
    }
    .ulClass{
      list-style-type: disc;
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
      list-style-position: inside;
  }
  }
  