.titleWord
  {
    margin-top: -10rem;
    margin-bottom: 10rem;
  }
   .visionCard{
    margin-top: 1.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  } 
/*   
   .sectionHead{
    /* max-width: 30rem; */
    /* background: url("../public/imagess/logoobjective2.png") no-repeat ;
    background-size:cover;
  } 
   */
  .ctA {
    margin-top: 3rem;
    background: linear-gradient(rgba(122, 163, 210, 0.9), rgba(29, 94, 205, 0.9));
    background-size: cover;
    padding: 10rem 0;
  }
  .iconsColor{
    color: #fff;
  }
  .dutesList{
    margin-top: -5rem;
  }
  .ulClass{
      list-style-type: disc;
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
      list-style-position: inside;
  }
  
  @media (max-width: 480px) {
    .dutesList{
      margin-top: 1rem;
    }
  }
  