.aboutSectoin{
    background: #f9f9f9;
}
.ServiceSction{
  background-color: #fcfcfc3b;
  padding: 5.5555555556rem 0;
}
.mainDiv{
  padding: 2.7777777778rem 0;
    margin: 0;
}
.mainCard{
  /* box-shadow: -1.1111111111rem 1.6666666667rem 2.2222222222rem rgba(0,0,0,.05);
  border-radius:1rem ;
  min-height: 350px;
  border: none;
  background: linear-gradient(90deg, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: #ffff; */
  /* background-image: linear-gradient(90deg, #cae5ee 0%, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6) 100%); */
  padding: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3%;
  -webkit-box-shadow: inset 200px -12px 129px 14px rgba(217,230,255,1);
-moz-box-shadow: inset 200px -12px 129px 14px rgba(217,230,255,1);
box-shadow: inset 200px -12px 129px 14px rgba(217,230,255,1);

}
.itemContent{
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0rem 2rem 0 2rem;
}
.itemTitle{
  font-size: 1.3333333333rem;
  font-weight: 700;
  color: #252e3e;
  margin-bottom: 0.2777777778rem;
  z-index: -1;
}
.itemText{
  font-size: .8888888889rem;
    font-weight: 600;
    color: #666d78;
    margin-bottom: 1.6666666667rem;
}
.secondContainer{
  margin: 0 2rem  2rem 0;
  background: #fff;
  border-radius: 1.5rem;
  max-width: 15rem;
  padding: 1rem 1rem 1rem 1rem;
}
.secondContainer:hover{
  border: #2186ec solid 0.5px ;
}
.objImageDiv{
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}
.objImage{
  height: 100%;
  width: 150%;
  margin: auto;
  border-radius: 1rem;
}
.divImage{
  width:100%;
  height:80%; 
  background: #ffff;
  align-self: center;
}
.servicesTitle{
    font-size: .8888888889rem;
    font-weight: 700;
    color: #be1f24;
    text-transform: uppercase;
    display: block;
    line-height: 1.6666666667rem;

}
.mainComp{
    margin: auto;
    width: 50%;
    position: relative;
    text-align: center;
    background: #ffff;
    border-radius: 3rem;
  }
      .ulAbout {
      list-style: none;
      padding: 0;
    }
    .liAbout {
      display: flex;
      align-items: flex-start;
      margin-bottom: 35px;
    }
    .liAbout:first-child {
      margin-top: 35px;
    }
    .spanAbout {
      padding: 1.3rem;
      margin-top: 3rem !important;
      border-radius: 5px;
     }
@media (max-width: 480px)
{
.secondContainer{
  margin: auto;
  background: #fff;
  border-radius: 1.5rem;
  max-width: 15rem;
  padding: 1rem 0.8rem 1rem 1rem;
}
}