    .aboutSectoin{
        background: #f9f9f9;
    }
    .ServiceSction{
      background-color: #f9f9f9;
      padding: 1.5555555556rem 0;
    }
    .mainDiv{
        padding: 0.7777777778rem 0;
        margin: 0;
        /* background: #f9f9f9;; */
    }
    .spanFeature{
      font-size: .8888888889rem;
      font-weight: 700;
      color: #1f3fbe;
      text-transform: uppercase;
      display: block;
      line-height: 1.6666666667rem;
    }
    .headingFeature{
      font-size: 1.2777777778rem;
      font-weight: 700;
      color: #252e3e;
      line-height: 2.7777777778rem;
      margin-bottom: 1.1111111111rem;
    }
    .pargraphFeature{
      font-size: 1.04rem;
      font-weight: 400;
      margin-bottom: 1.6666666667rem;
    }
    .mainCard{
      border-radius: 0.9rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      z-index: 1;
      -webkit-box-shadow: inset 200px -12px 129px 14px rgba(217,230,255,1);
      -moz-box-shadow: inset 200px -12px 129px 14px rgba(217,230,255,1);
      box-shadow: 200px -12px 129px 14px rgba(217,230,255,1);
    }
    .itemContent{
      z-index: -1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 ;
    }
    .itemTitle{
      font-size: 1.3333333333rem;
      font-weight: 700;
      color: #252e3e;
      margin-bottom: 0.2777777778rem;
      z-index: -1;
    }
    .itemText{
        font-size: .8888888889rem;
        font-weight: 600;
        color: #666d78;
        margin-bottom: 1.6666666667rem;
    }
    .secondContainer{
      margin: 2rem 0rem  2rem 0;
      background: #fff;
      border-radius: 0.5rem;
      max-width: 95%;
      min-width: 95%;
      height: 19rem;
      padding: 0.8rem 0.8rem 1rem 0.8rem;
      box-shadow: 0 0.8333333333rem 1.1111111111rem rgba(0,0,0,.1);
    }
    .secondContainer:hover{
      border: #2186ec solid 0.5px ;
    }
    .objImage{
      height: 100%;
      width: 100%;
      margin: auto;
      border-radius: 0.1rem;
    }
    .divImage{
    width:100%;
    height:80%; 
    background: #ffff;
    align-self: center;
    }
    .servicesTitle{
      font-size: .8888888889rem;
      font-weight: 700;
      color: #be1f24;
      text-transform: uppercase;
      display: block;
      line-height: 1.6666666667rem;
    }
    .mainComp{
      margin: auto;
      width: 50%;
      position: relative;
      text-align: center;
      background: #ffff;
      border-radius: 3rem;
    }
    .ulAbout {
      list-style: none;
      padding: 0;
    }
    .liAbout {
      display: flex;
      align-items: flex-start;
      margin-bottom: 35px;
    }
    .liAbout:first-child {
      margin-top: 35px;
    }
    .spanAbout {
      padding: 1.3rem;
      margin-top: 3rem !important;
      border-radius: 5px;
    }
    @media (max-width: 480px)
    {
      .secondContainer{
        margin: auto;
        background: #fff;
        border-radius: 0.5rem;
        max-width: 5rem;
        height: 15rem;
        padding: 0.8rem 0.8rem 5.8rem 0.8rem;
        box-shadow: 0 0.8333333333rem 1.1111111111rem rgba(0,0,0,.1);
      }
      .divImage{
        width:2rem !important;
        height:100%; 
        margin: auto;
        background: #ffff;
        align-self: center;
        }
      .mainCard
      {
    /* box-shadow: 0 0.8333333333rem 0 0.7111111111rem rgba(0,0,0,.1); */
        border: none;
        border-radius: 1rem;
        width: 100%;
        display: flex;
        margin-bottom: -12rem;
        flex-direction: column;
      }
      .objImage2{
        height: 5rem;
        width: 8rem;
        border-radius: 0.1rem;
      } 
  }