.mainContainer{
  width: 100%;
}
.titleWord{
    margin-top: -10rem;
    margin-bottom: 10rem;
  }
  .biggerCircle{
    padding-top: 0.5rem;
    width: 3rem;
    border-radius: 50% ;
    border: solid 1px #05a9f5 ;
    height: 3rem;
  }
  .numbersCircle {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: #05a9f5;
    height: 2rem;
    color: #fff;
    width: 2rem;
    border-radius: 50%;
  }
  .ctA {
    margin-top: 4rem;
    background: var(--color-secondary);
    background-size: cover;
    padding: 120px 0;
    margin-bottom: 3rem;
  }
  .titleStackH{
    color: #eee;
  }
  .listGroupItem{
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: start;
  }
  .navLink{
    background: transparent;
    border: none;
    margin-bottom: 0.5555555556rem;
    display: block;
    width: 100%;
    color: #eee !important;
}
  .navLink:hover{
    color: #eee !important;
  }
  .ulLi{
    margin-top: 0rem;
    color: #fff;
  }
  .innerContainer{
    margin: 0 0 0 0;
  }
  .listinnerContainer1{
    text-align: start;
    text-overflow: ellipsis;
    width: 14rem;
  }
  @media (max-width: 480px) {
  .listContainer{
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-direction: row;
  }
  .listinnerContainer1{
    width: 9rem;
    position: relative;
    flex: 0 0 30%;
   }
   
  .listinnerContainer2{
   
    padding: 0 1rem 0 1rem ;
  }
  .innerContainer{
    margin: 1.5rem 1.5rem 0 1.5rem;
  }
}