/* Search bar in Navbar itranks home page */
.searchInputBtn * {
    background-color: #F6F6F6 !important;
    outline: none !important;
    border-color: #ced4da !important;
    box-shadow: none !important;
};
/* Search bar in Navbar itranks home page */
.searchInputBtn {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
};

/* Navbar itranks home page */
.NavbarLightBg {
    background-color: #FFFFFF !important;
};