/* ITR-ADmin Tenant Card Component Csss Module */

.myCustomCard {
    min-height: 17rem;
    max-height: 17rem;
}

.activeTenant {
    border: 1px solid #3F9457;
    color: #3F9457;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.disabledTenant {
    border: 1px solid #757575;
    color: #757575;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.linearBg {
    background-image: linear-gradient(to bottom right, rgba(214,214,214, 0.48), rgba(255,255,255,1));
}