.titleWord{
    margin-top: -10rem;
    margin-bottom: 10rem;
  }
.cardContainer{
    border:none ;
}
.cardsContainer{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.mainCard{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
   .boardOfDirc {
    background: none;
    padding-bottom: 1rem;
    margin-top: -10.5rem;
  }
  .textCard{
    position: relative;
    display: flex;
    width: 18.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    margin-top: -1.5rem;
    border-radius: 0 0 0.5rem 0.5rem ;
    border-bottom: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .teamMemberFigure{
    position: relative;
    display: flex;
    width: 18.75rem;
    height: 10rem;
    border-radius: 0.5rem  0.5rem 0 0;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 4rem;
    box-shadow: 0px 20px -15px #8787b2;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
  }

  .figCaption{
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    width: 90%;
    height: 40;
    overflow: hidden;
    color: #000;
    visibility: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .teamMember2 .teamMemberFigure:hover figCaption{
    visibility: visible;
    color: #000;
    background: none;   
    height: 100%;
    
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .accretiedCaption{
  z-index: -1;
  margin-top: 4rem;
  margin-bottom: 4.3rem;
  background: #00000062;
  border-radius: 1rem;
  margin-left: 8.5rem;
  margin-right: 8.5rem;
  }
  .cardImage{
    border-radius: 1.5rem !important;
  }
  @media (max-width: 480px) {
    .textCard{
        position: relative;
        display: flex;
        width: 18.75rem;
        padding-left: 1rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        margin-bottom: 0;
        margin-top: -1.5rem;
        border-radius: 0 0 0.5rem 0.5rem ;
        border-bottom: solid 1px #ccc;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
      }
      .teamMemberFigure{
        position: relative;
        display: flex;
        width: 18.75rem;
        height: 10rem;
        border-radius: 0.5rem  0.5rem 0 0;
        margin-bottom: 1rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        margin-top: 4rem;
        box-shadow: 0px 20px -15px #8787b2;
        border-top: solid 1px #ccc;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
      }
  }